<html>
    <head>
        <title>dispatch 앱</title>
        <link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        />
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css"
        />
    </head>
    <body>
        <div class="container">
            <h1>해당 dispatch 상세보기</h1>

            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <div style="display: flex">
                                    <img src="{% static 'profile.svg' %}" />
                                    <section>
                                        <b class="card-title">
                                            {{ dispatch_obj.username }}
                                        </b>
                                        <br />
                                        <b class="card-text">
                                            {{ dispatch_obj.city }}, {{
                                            dispatch_obj.country }}
                                        </b>
                                    </section>
                                </div>
                                <p class="card-text">
                                    {{ dispatch_obj.content }}
                                </p>
                                <p class="card-text">
                                    {{ dispatch_obj.created_at }}
                                </p>
                                <a
                                    href="{% url 'dispatch:whole_list' %}"
                                    class="btn btn-primary"
                                    >목록으로</a
                                >
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <hr />
            {% for comment in dispatch_obj.comment_set.all %}
            <div>
                <div style="display: flex; align-items: center">
                    <img
                        src="{% static 'profile.svg' %}"
                        style="width: 30px; height: 30px"
                    />
                    <b style="margin-left: 45px">{{comment.author}}</b>
                    <div style="margin-left: 45px">{{comment.content}}</div>
                </div>
                <br />
            </div>
            {% empty %}
            <b style="color: #ff552b; text-align: center"
                >가장 먼저 댓글을 작성해보세요!
            </b>
            {% endfor %} {% if user.is_authenticated %}
            <form
                method="post"
                action="{% url 'dispatch:dispatch_detail' dispatch_obj.pk %}"
            >
                {% csrf_token %} {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>

            {% else %} 로그인을 하세요 {% endif %}
        </div>
    </body>
</html>
