<html>
    <head>
        <title>local 목록 앱</title>
        <link
        rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">
    </head>
    <body>
        <div class="container">
            <h1>내 파견 페이지 입니다</h1>

            <br>
            <br>
            <a href="{% url 'dispatch:whole_list' %}">전체</a>
            &nbsp
            <a href="{% url 'dispatch:near_list' %}">여기 근처</a>
            &nbsp
            <a href="{% url 'dispatch:my_list' %}">내 파견</a>
            <br>
            <br>
<!--            <a href="{% url 'dispatch:dispatch_post' %}">파견 추가</a>-->
            <p>
            <a href="{% url 'dispatch:dispatch_post' %}"><i class="bi-plus"></i>파견 추가</a>
            </p>
            <ul class="list-group">

            <li class="list-group-item">
                {% for dispatch_obj in my_dispatchs %}
                <p>{{ dispatch_obj.username }}</p>
                <p>{{ dispatch_obj.city }}, {{ dispatch_obj.country }}</p>
                <a href="{% url 'dispatch:dispatch_detail' pk=dispatch_obj.pk %}">{{ dispatch_obj.content }}</a>
                <br>
                <br>
                {{ dispatch_obj.created_at }}
                <hr>
                {% for comment in dispatch_obj.comment_set.all %}
                <div>
                    <strong>{{ comment.author }}</strong>
                    <p>{{ comment.content }}</p>
                </div>
                {% empty %}
                <p>작성한 댓글이 없습니다.</p>
                {% endfor %}
                {% empty %}
                <p>작성한 dispatch가 없습니다.</p>
                {% endfor %}
            </li>

            </ul>
        </div>
    </body>
</html>


