<html>
<head>
    <title>local 앱</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script>
        // HTML이 로드된 후 실행되는 함수
        window.onload = function() {
            var dispatchTimes = document.getElementsByClassName("dispatch-time");
            for (var i = 0; i < dispatchTimes.length; i++) {
                var createdAt = dispatchTimes[i].textContent;
                var parsedTime = moment(createdAt, "YYYY-MM-DDTHH:mm:ssZ").fromNow();
                dispatchTimes[i].textContent = parsedTime;
            }
        };

        // 카카오톡 공유
        function shareKakao(url, text) {
            var encodedUrl = encodeURIComponent(url);
            var encodedText = encodeURIComponent(text);
            window.open("https://story.kakao.com/share?url=" + encodedUrl + "&text=" + encodedText);
        }
    </script>
</head>
<body>
    <div class="container">
        <h1>전체 페이지 입니다@</h1>
        유저이름 : {{user.username}}
        <br>
        <br>
    <a href="{% url 'dispatch:whole_list' %}">전체</a>
        &nbsp
        <a href="{% url 'dispatch:near_list' %}">여기 근처</a>
        &nbsp
        <a href="{% url 'dispatch:my_list' %}">내 파견</a>
        <br>
        <br>
        <p>
            <a href="{% url 'dispatch:dispatch_post' %}"><i class="bi-plus"></i>파견 추가</a>
        </p>
        <ul class="list-group">
            {% for dispatch in dispatchs %}
            <li class="list-group-item">
                {{ dispatch.author.profile.nickname }}
<!--                {{ request.user.profile.nickname }}-->
                {{ dispatch.city }}
                {{ dispatch.country }}
                <br>
                <a href="{% url 'dispatch:dispatch_detail' pk=dispatch.pk %}">{{ dispatch.content }}</a>
                <br>
                <br>
                <span class="dispatch-time">{{ dispatch.created_at|date:'Y-m-dTH:i:s' }}</span>
                <br>
                <br>
                답변 {{ dispatch.comment_set.count }}개
                <br>
                저장하기
                &nbsp
                <a href="{% url 'dispatch:dispatch_detail' pk=dispatch.pk %}">댓글쓰기</a>
                &nbsp
                <button onclick="shareKakao('{{ request.scheme }}://{{ request.get_host }}{% url 'dispatch:dispatch_detail' pk=dispatch.pk %}', '{{ dispatch.content }}')">공유하기</button>
                <hr>
                {% for comment in dispatch.comment_set.all %}
                <div>
                    <strong>{{ comment.author }}</strong>
                    <p>{{ comment.content }}</p>
                </div>
                {% empty %}
                <p></p>
                {% endfor %}
            </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
