#logo {
    width: 170px;
    margin-top: 200px;
}
#text {
    font-weight: bold;
    font-size: 26px;
}
#highlights {
    color: #FF552B;
    font-weight: bold;
    font-size: 26px;
}
body {
    padding-left: 15px;
}
input{
    background-color: #F4F4F4;
    border: 0;
    margin-top: 20px;
    width: 310px;
    height: 35px;
    border-radius: 20px;
    padding-left: 20px;
}
#next {
    width: 349px;
    height: 58px;
    border: 0;
    background-color: #FF552B;
    color: #fff;
    border-radius: 14px;
    position: absolute;
    bottom: 45px;
    left: 15px;
}