.top-bar {
    height: 20px;
    width: auto;
    top: 0;
    left: 0;
    right: 0;
    padding: 20px;
    display: flex;
    background-color: rgb(255, 255, 255);
    align-items: center;
    border-bottom: 1px solid #EEEEF0;
}
#back-button {
    left: 10px;
    border: 0px;
    background-color: rgb(255, 255, 255);
    justify-content: left;
    position: absolute;
}
#txt-login {
    margin-left: 40%;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
}
#start-message {
    color: #231E1E;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    margin-left: 15px;
    margin-top: 150px;
}
#highlights {
    color: #FF552B;
}
#logo {
    margin-left: 15px;
    margin-top: 30px;
    width: 168px;
}
#kakao-login {
    margin-left: 10px;
    margin-top: 90px;
    width: 349px;
    height: 58px;
    border: 0;
    background-color: #FAE64C;
    color: #000000;
    font-size: 17px;
}
#phone-login {
    margin-left: 10px;
    margin-top: 10px;
    width: 360px;
    height: 58px;
    border: 0;
    background-color: #F4F4F4;
    color: #777474;
    font-size: 17px;
}
#kakao-signup {
    color:#000;
}
#id-signup {
    color:#000;
}
#q {
    margin-top: 20px;
    text-align: center;
}
#signup-btn {
    background-color: #fff;
    border: 0;
    color: #FF552B;
}
.footer {
    height: 84px;
    width: 100%;
    position:absolute;
    bottom: 0px;
    left: 0px;
    background-color: #ffffff;
    box-shadow: 0px 0px 4px 0.5px rgb(213, 213, 213);
}
#live-btn {
    background-color: #ffffff;
    border: 0px;
    width: 64px;
    padding: 13px 14px 26px 14px;
    flex-direction: column;
    align-items: center;
    margin-left: 37px;
}
#dispatch-btn {
    background-color: #ffffff;
    border: 0px;
    width: 64px;
    padding: 13px 14px 26px 14px;
    flex-direction: column;
    align-items: center;
    margin-left: 12px;

}
#travel-btn {
    background-color: #ffffff;
    border: 0px;
    width: 64px;
    padding: 13px 14px 26px 14px;
    flex-direction: column;
    align-items: center;
    margin-left: 12px;
}
#mypage-btn {
    background-color: #ffffff;
    border: 0px;
    width: 64px;
    padding: 13px 14px 26px 14px;
    flex-direction: column;
    align-items: center;
    margin-left: 12px;
}

*{margin:0; padding:0;}
a{text-decoration:none;}
.wrap{padding:10px;}

.btn_open{font-weight:bold; margin:5px; padding:4px 6px; background:#000; color:#fff;}
.pop_wrap{position:fixed; top:0; left:0; right:0; bottom:0; background:rgba(0,0,0,.5); font-size:0; text-align:center;}
.pop_wrap:after{display:inline-block; height:100%; vertical-align:middle; content:'';}
.pop_wrap .pop_inner{
    display:inline-block; 
    padding:20px 30px; 
    background:#fff; 
    width:300px; 
    height: 183px;
    vertical-align:middle; 
    font-size:15px;
}
.top {
    display: flex;
    justify-content: flex-start;
}
#small-logo {
    margin-top: 20px;
    width: 71px;
    height: 19px;
}
#signup-txt {
    font-size: 20px;
    font-weight: bold;
}
.btn_close {
    background-color: #ffffff;
    border: 0px;
    margin-left: auto;
}
#kakao-signup {
    display: flex;
    width: 300px;
    height: 36.86px;
    padding: 10.751px 76.023px;
    justify-content: center;
    align-items: center;
    border: 0px;
    border-radius: 3.84px;
    background: #FAE64C;
    margin-top: 18px;
}
#id-signup {
    margin-top: 5px;
    display: flex;
    width: 300px;
    height: 36.86px;
    padding: 10.751px 76.023px;
    justify-content: center;
    align-items: center;
    border: 0px;
    border-radius: 3.84px;
    background: #F4F4F4;
    color: #777474;
}