/* 모바일 우선 개발 */

/* 모바일에 최적화된 CSS 코드 */
@media (min-width: 992px) {
    /* 데스크탑에 최적화된 예외 CSS 코드*/
}
.top-bar {
    height: 20px;
    width: auto;
    top: 0;
    left: 0;
    right: 0;
    padding: 20px;
    display: flex;
    background-color: rgb(255, 255, 255);
    align-items: center;
}
#back-button {
    left: 10px;
    border: 0px;
    background-color: rgb(255, 255, 255);
    justify-content: left;
    position: absolute;
}
#close-button {
    right: 10px;
    border: 0px;
    background-color: rgb(255, 255, 255);
    justify-content: right;
    position: absolute;
}
#step-line {
    height: 3px;
    background-color: #FF552B;
    border-radius: 10px;
    border: 0;
    width: 33%;
    float: left;
    left: 0;
}
#nonestep-line {
    height: 3px;
    background-color: #EEEEF0;
    border-radius: 10px;
    border: 0;
}
#step1 {
    color: #FF552B;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 138.836%;
    margin-top: 40px;
    margin-left: 15px;
    margin-bottom: 10px;
}
#q1 {
    color: #231E1E;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    margin-left: 15px;
}
#highlights {
    color: #FF552B;
}


input{
    background-color: #F4F4F4;
    border: 0;
    margin-left: 12px;
    margin-top: 20px;
    width: 329px;
    height: 35px;
    border-radius: 20px;
    padding-left: 20px;
}
#next {
    margin-left: 10px;
    width: 349px;
    height: 58px;
    border: 0;
    background-color: #FF552B;
    color: #fff;
    border-radius: 14px;
    position: absolute;
    bottom: 45px;
}