<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="text" name="title" placeholder="Title">
    <textarea name="content" placeholder="Content"></textarea>
    <input type="text" name="nation" placeholder="Nation">
    <input type="text" name="city" placeholder="City">
    <input type="number" name="together" value="1">
    <input type="date" name="start_date">
    <input type="date" name="end_date">
    <input type="file" name="image_files" multiple>
    <button type="submit">Submit</button>
  </form>  
</body>
</html>