<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="{% static 'css/recent.css' %}" />
        <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    </head>
    <body>
        <div class="top">
            <img src="{% static 'media/logo.svg' %}" />
            <img src="{% static 'media/alert.svg' %}" />
            <img src="{% static 'media/ticket.svg' %}" />
        </div>
        <div>
            <ul class="menu1">
                <li>
                    <a href="{% url 'live_home' %}">홈</a>
                </li>
                <li>
                    <a href="{% url 'live_recent' %}"><b>최근 시청한</b></a>
                </li>
                <li><a href="{% url 'live_Soon' %}">라이브 예고</a></li>
            </ul>
        </div>

        <p><b>최근 시청한 Live</b></p>
        <form>
            {% csrf_token %}
            <input
                type="search"
                placeholder="현재 상황이 궁금한 여행지를 검색해보세요!"
                style="width: 90%"
            />
            <input type="submit" value="&#128269;" />
        </form>
        <div class="box3">
            <img src="{% static 'media/ja4.jpg' %}" class="thumb" />
            <section class="vid">
                <b>치앙마이 한 달 살기 3주째, 찐로컬맛집 알려줌</b>
                <br /><b style="font-size: 10pt; color: #ff552b"
                    >태국 치앙마이</b
                ><br />
                <b>여행은 삶</b> <br />조회수 10만회 1일 전
            </section>
        </div>
        <br />
        <div class="box3">
            <img src="{% static 'media/ja7.jpg' %}" class="thumb" />
            <section class="vid">
                <b>치앙마이 한 달 살기 3주째, 찐로컬맛집 알려줌</b>
                <br /><b style="font-size: 10pt; color: #ff552b"
                    >태국 치앙마이</b
                ><br />
                <b>여행은 삶</b> <br />조회수 10만회 1일 전
            </section>
        </div>
        <br />
        <div class="box3">
            <img src="{% static 'media/ja8.jpg' %}" class="thumb" />
            <section class="vid">
                <b>치앙마이 한 달 살기 3주째, 찐로컬맛집 알려줌</b>
                <br /><b style="font-size: 10pt; color: #ff552b"
                    >태국 치앙마이</b
                ><br />
                <b>여행은 삶</b> <br />조회수 10만회 1일 전
            </section>
        </div>
        <br />
        <div class="box3">
            <img src="{% static 'media/ja9.jpg' %}" class="thumb" />
            <section class="vid">
                <b>치앙마이 한 달 살기 3주째, 찐로컬맛집 알려줌</b>
                <br /><b style="font-size: 10pt; color: #ff552b"
                    >태국 치앙마이</b
                ><br />
                <b>여행은 삶</b> <br />조회수 10만회 1일 전
            </section>
        </div>
        <br />
        <div class="box3">
            <img src="{% static 'media/ja1.jpg' %}" class="thumb" />
            <section class="vid">
                <b>치앙마이 한 달 살기 3주째, 찐로컬맛집 알려줌</b>
                <br /><b style="font-size: 10pt; color: #ff552b"
                    >태국 치앙마이</b
                ><br />
                <b>여행은 삶</b> <br />조회수 10만회 1일 전
            </section>
        </div>
        <footer>
            <div class="footer">
                <ul class="foot">
                    <li>
                        <a href="{% url 'live_home' %}"
                            ><img src="{% static 'media/Group 4on.svg' %}"
                        /></a>
                    </li>
                    <li>
                        <a href="{% url 'dispatch_all' %}"
                            ><img src="{% static 'media/Group 3.svg' %}"
                        /></a>
                    </li>
                    <li><img src="{% static 'media/Group 2.svg' %}" /></li>
                    <li><img src="{% static 'media/Group 511.svg' %}" /></li>
                </ul>
            </div>
        </footer>
    </body>
</html>
