<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="{% static 'css/recent.css' %}" />
        <link rel="stylesheet" href="{% static 'css/base.css' %}" />
        <style>
.logout:link a:visited {
text-decoration: none;
color:gray;
}
        </style>
    </head>
    <body>
        <div class="top">
            <img src="{% static 'logo.svg' %}" />
            <div style="float:right">
                <img src="{% static 'alert.svg' %}" />
                <img src="{% static 'ticket.svg' %}" /> <b class="logout" style="color:#ff552b">3개</b>
            </div>

            <b class="logout"
                style="
                    float: right;
                    text-decoration: underline;
                    color: gray;
                    font-size: 7pt;
                "
                ><a href="">로그아웃</b
            ></a>
        </div>
        <div>
            <ul class="menu1">
                <li>
                    <a href="{% url 'lives:live_list' %}">홈</a>
                </li>
                <li>
                    <a href="{% url 'lives:live_recent' %}"
                        ><b>최신 방송순</b></a
                    >
                </li>
                <li><a href="{% url 'lives:live_soon' %}">라이브 예고</a></li>
            </ul>
        </div>
        {% if query %}
        <p><b>"{{query}}" 에 대한 결과</b></p>
        {% else %}
        <p><b>최신 Live</b></p>
        {% endif %}
        <form id="rc-form" action="{% url 'lives:live_recent' %}">
            <input
                type="text"
                name="query"
                placeholder="현재 상황이 궁금한 여행지를 검색해보세요!"
                style="width: 80%"
            />
            <input type="submit" value="&#128269;" />
        </form>
        {% for video in video %}
        <a href="{% url 'lives:live_detail' video.pk %}" style="padding:0; text-decoration:none;">
        <div class="box3">
            <img src="{{video.thumbnail.url}}" class="thumb" />
            <section class="vid">
                <b>{{video.title}}</b>
                <br /><b style="font-size: 10pt; color: #ff552b"
                    >{{video.nation}}, {{video.city}}</b
                ><br />
                <b>{{video.author.profile.nickname}}</b> <br />조회수 {{video.views}}
            </section>
        </div>
        </a>
        <br />
        {% empty %} {% endfor %}
        <footer>
            <div class="footer">
                <ul class="foot">
                    <li>
                        <a href="{% url 'lives:live_list' %}"
                            ><img src="{% static 'Group 4on.svg' %}"
                        /></a>
                    </li>
                    <li>
                        <a href=""><img src="{% static 'Group 3.svg' %}" /></a>
                    </li>
                    <li><img src="{% static 'Group 2.svg' %}" /></li>
                    <li>
                        <a href="{% url 'users:login' %}">
                            <img src="{% static 'Group 511.svg' %}" />
                        </a>
                    </li>
                </ul>
            </div>
        </footer>
    </body>
</html>