{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/general-signup.css' %}"/>
    <title>Local</title>
</head>
<body>
    <div class="top-bar">
        <button type="button" id="close-button" onclick="href='/mypage'"><img src="{% static 'img/close-button.png' %}" alt="닫기"></button>
        <span id="txt-signup">추가정보</span>
    </div>
    <form method="POST">
        {% csrf_token %}

        <div id="creater">
            <img src="{% static 'img/logo.png' %}" id="logo"><span id="txt">에서 라이브를 진행하거나 포스트를 발행하는</span><br>
            <span id="highlights">크리에이터 </span><span id="txt">활동을 하길 희망하시나요?</span>
            <div class="select">
                <input type="radio" id="select" name="shop" value="No"><label for="select">No</label>
                <input type="radio" id="select2" name="shop" value="Yes"><label for="select2">Yes</label>
           </div>

            <div id="sub-txt">*크리에이터 회원으로 가입을 신청하시게 되면,<br/>
                추후 지역 인증과 별도의 심사를 통해 활동 권한을 얻을 수 있습니다.</div>
            <div id="sub-txt">자세한 문의는 고객센터를 통해 문의해 주십시오.</div>
        </div>
        <hr>
        <div class="input-box">
            <div id = "signup-form">
                <div id="box">
                    <div id="txt">이름</span><span id="highlights"></div>
                    <input type="text" name="name" placeholder="본인의 이름을 입력해 주세요." id="name">
                </div>
                <div id="box">
                    <div id="txt">휴대폰</span><span id="highlights"></div>
                    <input type="text" name="phone" placeholder="‘-’ 제외하고 번호만 입력해 주세요." id="phone">
                </div>
                <div id="box">
                    <div id="txt">닉네임</span><span id="highlights"></div>
                    <input type="text" name="nickname" placeholder="로컬에서 사용할 닉네임을 입력해 주세요." id="nickname">
                </div>
                <div id="box">
                    <div id="txt">거주 중인 국가</span><span id="highlights"></div>  
                    <input type="text" name="cntry_residence" placeholder="거주 중인 국가를 작성해주세요." id="living-country">
                    <br><div id="sub-txt">예 : 대한민국, 일본, 태국, 미국, 대만</div>
                </div>  
                <div id="box">
                    <div id="txt">거주 중인 도시</span><span id="highlights"></div>
                    <input type="text" name="city_residence" placeholder="거주 중인 국가를 작성해주세요." id="living-country">
                    <br><div id="sub-txt-line">예 : 서울, 강릉, 제주, 나고야, 삿포로, 하노이, 파리, 로마, 뉴욕, 라스베가스</div>
                </div>
                <hr>
                <div id="box">
                    <div id="txt">자주 방문하는 국가</span></div>
                    <input type="text" name="visited_cntry" placeholder="자주 방문하는 국가명을 입력해 주세요." id="visiting-country">
                    <br><div id="sub-txt">예 : 대한민국, 일본, 태국, 미국, 대만</div>
                </div>
                <div id="box">
                    <div id="txt">자주 방문하는 도시</span></div>
                    <input type="text" name="visited_city" placeholder="자주 방문하는 도시명을 입력해 주세요." id="visiting-city">
                    <br><div id="sub-txt-line">예 : 서울, 강릉, 제주, 나고야, 삿포로, 하노이, 파리, 로마, 뉴욕, 라스베가스</div>
                </div>
                <hr>
                <div id="box">
                    <div id="txt">여행하고 싶은 국가</span></div>
                    <input type="text" name="preferred_cntry" placeholder="여행하고 싶은 국가명을 입력해 주세요." id="want-country">
                    <br><div id="sub-txt">예 : 대한민국, 일본, 태국, 미국, 대만</div>
                </div>
                <div id="box">
                    <div id="txt">여행하고 싶은 도시</div>
                    <input type="text" name="preferred_city" placeholder="여행하고 싶은 도시명을 입력해 주세요." id="want-city">
                    <br><div id="sub-txt">예 : 서울, 강릉, 제주, 나고야, 삿포로, 하노이, 파리, 로마, 뉴욕, 라스베가스</div>
                </div>
                <div id="box-last">
                    <div id="txt">프로필 사진</div>
                    <input type="file" name="profile">
                </div>
            </form>
        </div>
        <div id="start-box">
            <button type="submit" id="next">로컬 시작하기!</button>
        </div>


    </form>

</body>
</html>