{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/idsignup.css' %}"/>
    <title>Local</title>
</head>
<body>
    <div class="top-bar">
        <button type="button" id="close-button" onclick="location.href='onboarding.html'"><img src="{% static 'img/close-button.png' %}" alt="닫기"></button>
        <span id="txt-signup">아이디로 회원가입</span>
    </div>

    <form class="user" method="POST">
        {% csrf_token %}
        <div class="id-input">
            <span id="txt">아이디</span><span id="highlights">*</span>
            <div id = "id-form">
                <input required maxlength="15" type="text" name="username" placeholder="예: local230714" id="id">
            </div>
            <span id="sub-txt">영문과 숫자를 조합하여 6자 이상</span>
        </div>
        <div class="pw-input">
            <span id="txt">비밀번호</span><span id="highlights">*</span>
            <div id = "pw-form">
                <input required maxlength="15" type="password" name="password" placeholder="비밀번호를 입력해주세요." id="pw1">
            </div>
            <span id="sub-txt">영문,숫자,특수문자 중 2개 이상 조합하여 10자 이상</span>
        </div>
        <div class="pw-confirm">
            <span id="txt">비밀번호 확인</span><span id="highlights">*</span>
            <div id = "pw-form">
                <input required maxlength="15" type="password" name="repeat" placeholder="위에서 입력한 비밀번호를 한 번 더 입력해주세요." id="pw2">
            </div>
            <span id="sub-txt">영문,숫자,특수문자 중 2개 이상 조합하여 10자 이상</span>
        </div>
        <button type="submit" id="next">다음</button>
        <!-- <a href="{% url 'users:more_info' %}"></a> -->
    </form>


</body>
</html>