{% load socialaccount %}

<a href="{% url 'users:signup' %}">일반 회원가입</a>
<a href="{% url 'users:logout' %}">내가 구현한 로그아웃</a>

<form method="POST" class="joinForm">
    {% csrf_token %}
    <h1>LOGIN</h1>

    <h2>일반 로그인</h2>
    <form class="user" method="POST">
        {% csrf_token %}
        <div>
            <input type="text" id="username" name="username" placeholder="아이디를 입력해주세요.">
        </div>
        <div>
            <input type="password" id="password" name="password" placeholder="비밀번호를 입력해주세요.">
        </div>
        <input type="submit" value="로그인">
        <hr>
    </form>

    <h2>카카오 로그인</h2>
    <div>
        <a href="{% provider_login_url 'kakao' %}">
            <i>카카오 로그인</i>
        </a>
    </div>

</form>