<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/nickname.css"/>
    <title>Local</title>
</head>
<body>
    <img src="../../static/img/logo.png" id="logo"><span id="text">을 시작할게요.<br>
    로컬에서 사용할</span> <span id="highlights">닉네임</span><span id="text">을<br>
    입력해주세요.</span>
    <form id = "nickname-form">
        <input required maxlength="15" type="text" placeholder="닉네임을 입력하세요.">
        <br>
        <button type="button" onclick="location.href='step1.html'" id="next">다음</button>
    </form>
</body>
</html>