<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Local</title>
    <link rel="stylesheet" href="../../static/css/onboarding-fin.css"/>
</head>
<body>
    <div id="fin-message"><span id="highlights">닉네임</span> 님, 환영합니다!<br/>
    로컬을 사용할<br/>준비를 모두 마쳤어요.</div>
    <img src="../../static/img/logo.png">
    <button type="button" onclick="location.href=''" id="next">로컬 시작하기!</button>
</body>
</html>
