<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/step2.css"/>
    <title>Local</title>
</head>
<body>
    <div class="top-bar">
        <button type="button" id="back-button" onclick="location.href='step1.html'"><img src="../../static/img/back-button.png" alt="뒤로가기"></button>
        <button type="button" id="close-button"><img src="../../static/img/close-button.png" alt="닫기"></button>
    </div>
    <hr id="step-line"><hr id="nonestep-line">
    <div id="step2">Step 2</div>
    <div id="q2">닉네임 님이 <span id="highlights">자주 방문하는 <br>여행지</span>는 어디인가요?</div>
    
    <form id = "position-form">
        <input required maxlength="15" type="text" placeholder="여행지를 입력해주세요.">
        <br>
        <ul id="tag"></ul>
        <button type="button" onclick="location.href='step3.html'" id="next">다음</button>
    </form>
    <script src ="../../static/js/step2.js"></script>
</body>
</html>